{% extends "base.html" %}
{% block title %}Domains{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    td {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    form {
        border: 1px solid #ccc;
        padding: 2rem;
    }

    ul {
        display: inline;
        list-style: disc;
    }

    li {
        display: inline list-item;
        margin-left: 1rem;
    }

    .valid {
        background-color: #22c55e;
    }

    .invalid {
        background-color: #dc2626;
    }

    tbody tr:hover {
        background-color: #eee;
    }
</style>
{% endblock %}
{% block content %}
<h2>Domains</h2>

<form method="get" action="">
    <fieldset>
        <legend>
            <h3>filter domain status</h3>
        </legend>
        <div class="row">
            <label>
                <input type="radio" name="domainstatus" value="all" {{ "checked" if domainstatus=="all" }}> all
            </label>
            <label>
                <input type="radio" name="domainstatus" value="valid" {{ "checked" if domainstatus=="valid" }}> valid
            </label>
            <label>
                <input type="radio" name="domainstatus" value="invalid" {{ "checked" if domainstatus=="invalid" }}> invalid
            </label>
        </div>
    </fieldset>
    <label>
        <h3>filter domain name</h3>
        <input type="text" name="domainfilter" value="{{domainfilter}}" placeholder="searchtext">
    </label>
    <button type="submit">filter</button>
</form>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Domain</th>
            <th>First requested at</th>
            <th>Newest certificate valid until</th>
        </tr>
    </thead>
    <tbody>
        {% for domain in domains %}
        <tr>
            <td class="{{'valid' if domain.is_valid else 'invalid' }}">&nbsp;</td>
            <td><a href="https://{{domain.domain_name}}" target="_blank"
                    rel="noopener noreferrer">{{domain.domain_name}}</a></td>
            <td>{{domain.first_requested_at.strftime('%Y-%m-%d')}}</td>
            <td>{{domain.expires_at.strftime('%Y-%m-%d')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}