<h1>{{app_title}}</h1>
<h2>Certificate Warning</h2>

Your server certificate <b>will expire soon</b>.
If this is not intended please check and fix your certificate renewal automation.
Otherwise, your websites may become unusable via HTTPS for visitors.

<p>Expiration date: {{expires_at.isoformat()}} (in {{expires_in_days}} days)</p>

Affected domains:

<ul>
    {% for domain in domains %}
    <li>
        <a href="https://{{domain}}" target="_blank" rel="noopener noreferrer">{{domain}}</a>
    </li>
    {% endfor %}
</ul>

If the certificate expiration is intended you can ignore this warning.